@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .links-container {
    height: auto !important;
  }
}

/* HEADER CLAMPS */
/* Minimum of 1.5rem, Maximum of 3rem with an increment of 5% of the screen size. */
.clampHeader1 {
  font-size: clamp(2rem, 3vw, 3.5rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}

.clampHeader2 {
  font-size: clamp(2rem, 4.5vw, 3.5rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}

.clampHeader3 {
  font-size: clamp(1.5rem, 2.2vw, 2.5rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}

.clampSubHeader {
  font-size: clamp(1rem, 1.8vw, 1.06rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}

.bannerImage {
  background-image: url("/public/bannerImage-chicken.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
