@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .links-container {
    height: auto !important;
  }
}

/* HEADER CLAMPS */
/* Minimum of 1.5rem, Maximum of 3rem with an increment of 5% of the screen size. */
.clampHeader1 {
  font-size: clamp(2rem, 3vw, 3.5rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}
/* .clampHeader {
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin-bottom: 1rem;
  line-height: 1.25;
} */

/* .clampFeaturesHeader {
  font-size: clamp(1.3rem, 3vw, 1.4rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}
.clampFeaturesHeader2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 1rem;
  line-height: 1.25;
}
.clampFeaturesHeader3 {
  font-size: clamp(1.3rem, 3vw, 1.4rem);
  line-height: 1.25;
} */
